<a href="https://colab.research.google.com/github/bandenawaz/machine_learning_with_python/blob/main/Python_CrashCourse_ML_IS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Integers**

An integer can be thought of a numerical value without any decimal. We use integer value to represent a numeric data from negative infinity to positive infinity

In [2]:
#lets define a integer value
x = 10
y = 20

In [3]:
#lets access the two variables
print("X: ",x,"Y: ",y)

X:  10 Y:  20

In [4]:
#lets perform arithmetic operations on it.
x + y

30

**Float**
A foat stands for decimal number, which means number with fractional parts. It can also be used to store rational numbers ending with decimal points.

In [5]:
#lets define floating variables
stock_price = 224.61
height = 6.3
weight = 80.6

**String**

Its a sequence of characters which are enclosed within single or double quotes. Strings are immutable in nature.

In [6]:
sample_string = '1% can also be expressed as 0.01 '
print(sample_string)

1% can also be expressed as 0.01

In [7]:
#Lets understand about string concatenation
sp = '224.8'
print('Price of AAPL is '+sp)

Price of AAPL is 224.8

In [8]:
print('Price of AAPL is '+x)

TypeError: ignored

**Slicing**

It is extracting a part or creating substring from the existing string.

**syn: str[index] or str[start:end-1]**

In [9]:
course = 'Machine Learning using Python'

In [10]:
course

'Machine Learning using Python'

In [11]:
course[0]

'M'

In [13]:
machine = course[:7]
print(machine)

Machine

In [14]:
print(machine[::2])

Mcie

In [15]:
#lets reverse the given string
machine[::-1]

'enihcaM'

**Type Conversion**

Converting from one data type to another data type is called Type Conversion.

There are two types of type conversion


1.   Implicit
2.   Explicit

Implicit: This is an automatic type convesion and the Python interpreter handles this on the fly for us.

In [16]:
#Implicit Type Conversion
8/2

4.0

**Explicit Type Conversion**

This type of conversion is user-defined. We need to explicitly change the data type for certain literals to make it compatible for data operations.

In [17]:
'This is the year '+2023

TypeError: ignored

In [18]:
'This is the year '+str(2023)

'This is the year 2023'

In [19]:
float(4)

4.0